services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    command: gunicorn my_site.wsgi:application --bind "0.0.0.0:8000" --reload
    ports:
      - "8000:8000"
    restart: always
    env_file:
      - my_site/.env
    logging:
      driver: "json-file"
      options:
        max-file: "10"
        max-size: "200k"
    volumes:
      - ./my_site/:/app/  # чтоб обновлялся код вместе с бд
