services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    # разделяем команды, чтоб не запускались одновременно
    command: >
      bash -c "
        if [ ! -d "/app/static" ] || [ -z "$(ls -A /app/static)" ];
        then python manage.py collectstatic --noinput;
        fi && gunicorn my_site.wsgi:application --bind 0.0.0.0:8000 --reload
      "
    # command: >
    #   bash -c "
    #     python manage.py collectstatic --noinput
    #     &&
    #     gunicorn my_site.wsgi:application --bind "0.0.0.0:8000" --reload
    #   "
    ports:
      - "8000:8000"
    restart: always
    env_file:
      - .env
    logging:
      driver: "json-file"
      options:
        max-file: "10"
        max-size: "200k"
    volumes:
      - ./my_site/:/app/  # чтоб обновлялся код вместе с бд
      - ./static_volume/:/app/static/
  nginx:  # Nginx
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro  # Монтируем конфиг Nginx
      - ./static_volume/:/app/static/
    depends_on:
      - app

volumes:
  static_volume:
