{% extends 'myauth/base.html' %}
{% load i18n %}
{% load cache %}

{% block title %}
  {% trans 'About me' %}
{% endblock %}

{% block body %}
  <h1>{% trans 'User info' %}</h1>
  {% if user.is_authenticated %}
    {% cache 300 user_info request.user.username %}
    <h2>{% trans 'Detail' %}</h2>
    {% for field_name, value in user_info.items %}
      {% if value %}
        {% if value.url %}
          <img class="img-avatar" src="{{ value.url }}" alt="{{ value.name }}" />
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="container-form-avatar">
              <p>
                {{ form.as_p }}
                <button class="button-update-avatar" type="submit">{% trans 'Update avatar' %}</button>
              </p>
            </div>
          </form>
        {% else %}
          <p>{{ field_name|capfirst }}: {{ value }}</p>
        {% endif %}
      {% endif %}
    {% endfor %}
    {% endcache %}
    <a href="{% url 'myauth:about_me_update' pk=user.pk %}">{% trans 'Update profile' %}</a>
    <br />
  {% else %}
    <h2>{% trans 'User anonymous' %}</h2>
  {% endif %}
{% endblock %}
